ul{
    list-style: none;
    padding: 0;
    display: flex;
}
ul li{
    padding: 5px 12px;
}
ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #444;
}
ul li a:hover{
   background-color: teal;
   color: white;
}