#name{
    width: 200px;
    border: none;
    background-color: sandybrown;
    color: white;
    padding: 10px;
    cursor: pointer;
}
#email{
    width: 200px;
    border: none;
    background-color: sandybrown;
    color: white;
    padding: 10px;
    cursor: pointer;
}
#password{
    width: 200px;
    border: none;
    background-color: sandybrown;
    color: white;
    padding: 10px;
    cursor: pointer;
}

button[type="submit"]{
    width: 100px;
    border: none;
    background-color: sandybrown;
    color: black;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}