/* body{
    background: rgba(78,75,75);
    color: white;
}
button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: limegreen;
    color: white;
    margin-right: 10px;
    font-size: 2rem;
    width: 80px; 
} */